{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<title>Cornelita | Logs</title>
{% endblock meta %}

{% block content %}
<main>
    <div class="container d-flex flex-column align-items-center">
        <img src="{% static 'images/Construction.png' %}" alt="Under Construction illustration" width="90%">
        <p style="font-size: 12px;"><a href="https://www.freepik.com/vectors/design">Design vector created by freepik - www.freepik.com</a></p>
        <h1 class="mt-5">Coming Soon</h1>
        <p>Sorry! We still working on this page. Please come back later :))</p>
    </div>
</main>
{% endblock content %}
