{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<title>Cornelita | Portofolio</title>
{% endblock meta %}

{% block content %}
<div id="portofolio" class="container">
    <div class="row">
        <div class="px-4 col-12 col-md-6 col-lg-4 mb-5 portofolio">
            <img class="item mb-4" src="{% static 'images/portofolio/Boolean26.svg' %}" alt="Cover Boolean 26">
            <div class="description">
                <h2>Boolean 26</h2>
                <p>Boolean 26 mengambil tema “Homestuck in IT”. Majalah ini adalah salah satu program kerja dari Biro Media BEM Fasilkom UI.</p>
                <a href="https://issuu.com/bemfasilkomui/docs/boolean26">Boolean 26 (Issu.com)</a>
            </div>
        </div>
        <div class="px-4 col-12 col-md-6 col-lg-4 mb-5 portofolio">
            <img class="item mb-4" src="{% static 'images/portofolio/Boolean25.svg' %}" alt="Cover Boolean 25">
            <div class="description">
                <h2>Boolean 25</h2>
                <p>Boolean 25 mengambil tema “Magic City”. Majalah ini adalah salah satu program kerja dari Biro Media BEM Fasilkom UI.</p>
                <a href="https://issuu.com/bemfasilkomui/docs/boolean25">Boolean 25 (Issu.com)</a>
            </div>
        </div>
        <div class="px-4 col-12 col-md-6 col-lg-4 mb-5 portofolio">
            <img class="item mb-4" src="{% static 'images/portofolio/LogoBEM.png' %}" alt="BEM Fasilkom UI">
            <div class="description">
                <h2>BEM Fasilkom UI</h2>
                <p>Saya ikut mendesain beberapa publikasi di akun instagram BEM Fasilkom UI periode 2020.</p>
                <a href="instagram.com/bemfasilkomui/">Instagram</a>
            </div>
        </div>
        <div class="px-4 col-12 col-md-6 col-lg-4 mb-5 portofolio">
            <img class="item mb-4" src="{% static 'images/portofolio/LogoCOMPFEST.svg' %}" alt="COMPFEST">
            <div class="description">
                <h2>COMPFEST</h2>
                <p>Saya ikut mendesain beberapa publikasi di akun sosial media COMPFEST periode 2020.</p>
                <a href="instagram.com/compfest">Instagram</a>
                <a href="twitter.com/compfest">Twitter</a>
                <a href="https://www.linkedin.com/company/compfest">LinkedIn</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
