{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<title>Cornelita | Riwayat Hidup</title>
{% endblock meta %}

{% block content %}
<div id="education" class="container">
    <h1 class="sub-title">Pendidikan</h1>
    <div class="row m-3 d-flex justify-content-center">
        <div class="col-12 col-md-3 d-flex justify-content-center">
            <img class="logo-education" src="{% static 'images/LogoUI.png' %}" alt="Logo UI">
        </div>
        <div class="col-12 col-md-6">
            <h2>Universitas Indonesia</h2>
            <p>(2019 - sekarang)</p>
            <p>Depok, Jawa Barat</p>
            <p>Di Universitas Indonesia tepatnya di Fakultas Ilmu Komputer, saya mengambil jurusan Ilmu Komputer.</p>
        </div>
    </div>
    <div class="row m-3 d-flex justify-content-center">
        <div class="col-12 col-md-3 d-flex justify-content-center">
            <img class="logo-education" src="{% static 'images/LogoSinlui.png' %}" alt="Logo St. Louis 1">
        </div>
        <div class="col-12 col-md-6">
            <h2>SMAK St. Louis 1</h2>
            <p>(2016 - 2019)</p>
            <p>Surabaya, Jawa Timur</p>
            <p>Mengambil bidang peminatan IPA (Ilmu Pengetahuan Alam).</p>
        </div>
    </div>
</div>

<div id="brown-line"></div>

<div id="experience" class="container">
    <h1 class="sub-title">Pengalaman</h1>
    <div class="row mx-3 d-flex justify-content-center">
        <div class="col-12 col-md-7 m-3">
            <h2>BEM Fasilkom UI</h2>
            <p>Staff Biro Media</p>
            <p>2020</p>
            <p>Di Biro Media saya dan teman-teman belajar untuk mendesain publikasi dan kebutuhan-kebutuhan BEM Fasilkom UI yang membutuhkan desain.</p>
        </div>
        <div class="col-12 col-md-7 m-3">
            <h2>Compfest XII</h2>
            <p>Staff Visual Design</p>
            <p>2020</p>
            <p>Saya dan teman-teman mendesain publikasi yang dilakukan oleh Compfest di sosial media. Selain itu, kami juga mendesain asset-asset yang dibutuhkan di web compfest.</p>
        </div>
        <div class="col-12 col-md-7 m-3">
            <h2>Makara Mlaku-Mlaku</h2>
            <p>PJ Hubungan Masyarakat</p>
            <p>2020</p>
            <p>Hubungan masyarakat bertugas menjawab pertanyaan yang masuk dari pihak eksternal mengenai acara Makara Mlaku-Mlaku. Sebagai penanggung jawab, 
                saya bertugas memastikan semua pertanyaan terjawab dan staff-staff saya bekerja dengan baik.</p>
        </div>
        <div class="col-12 col-md-7 m-3">
            <h2>Perak</h2>
            <p>VPIC Field Coordinator</p>
            <p>2020</p>
            <p>Field Coordinator bertugas memastikan kelancaran di lapangan saat pertandingan futsal berlangsung. Field Coordinator juga bertugas menjadi medis di lapangan.</p>
        </div>
    </div>
</div>

<div id="brown-line"></div>

<div id="skills" class="container">
    <h1 class="sub-title">Skills</h1>
    <div class="row m-3 d-flex justify-content-center align-items-center">
        <div class="col-4 col-md-2 mb-3 d-flex justify-content-center">
            <img class="logo-skill" src="{% static 'images/HTML5.png' %}" alt="Logo HTML5">
        </div>
        <div class="col-8 col-md-3">
            <h2>HTML 5</h2>
        </div>
        <div class="col">
            <div class="progress website-bar" style="height: 20px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%"></div>
            </div>
        </div>
    </div>
    <div class="row m-3 d-flex justify-content-center align-items-center">
        <div class="col-4 col-md-2 mb-3 d-flex justify-content-center">
            <img class="logo-skill" src="{% static 'images/CSS.png' %}" alt="Logo HTML5">
        </div>
        <div class="col-8 col-md-3">
            <h2>CSS</h2>
        </div>
        <div class="col">
            <div class="progress website-bar" style="height: 20px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"></div>
            </div>
        </div>
    </div>
    <div class="row m-3 d-flex justify-content-center align-items-center">
        <div class="col-4 col-md-2 mb-3 d-flex justify-content-center">
            <img class="logo-skill" src="{% static 'images/Python.png' %}" alt="Logo HTML5">
        </div>
        <div class="col-8 col-md-3">
            <h2>Python</h2>
        </div>
        <div class="col">
            <div class="progress programming-bar" style="height: 20px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%"></div>
            </div>
        </div>
    </div>
    <div class="row m-3 d-flex justify-content-center align-items-center">
        <div class="col-4 col-md-2 mb-3 d-flex justify-content-center">
            <img class="logo-skill" src="{% static 'images/Java.png' %}" alt="Logo HTML5">
        </div>
        <div class="col-8 col-md-3">
            <h2>Java</h2>
        </div>
        <div class="col">
            <div class="progress programming-bar" style="height: 20px;">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"></div>
            </div>
        </div>
    </div>
</div>

<div id="brown-line"></div>

<div id="personality" class="container">
    <h1 class="sub-title">Kepribadian</h1>
    <h2>ESFJ-T</h2>
    <div class="row mt-5 mx-3 justify-content-center">
        <div class="col-12 col-md-6 p-4 mb-4 detail">
            <h3 class="bold">Kelebihan :</h3>
            <ol>
                <li>Dapat diandalkan</li>
                <li>Mau belajar</li>
                <li>Bertanggung jawab</li>
                <li>Disiplin</li>
                <li>Suka membantu</li>
                <li>Dapat bekerja dalam kelompok</li>
            </ol>
        </div>
        <div class="col-12 col-md-6 p-4 mb-4 detail">
            <h3>Kesempatan :</h3>
            <ol>
                <li>Mendapat dukungan dari orang terdekat</li>
            </ol>
        </div>
        <div class="col-12 col-md-6 p-4 mb-4 detail">
            <h3>Kelemahan :</h3>
            <ol>
                <li>Kekurangan pengalaman</li>
                <li>Terlalu banyak berpikir</li>
            </ol>
        </div>
        <div class="col-12 col-md-6 p-4 mb-4 detail">
            <h3>Ancaman :</h3>
            <ol>
                <li>Orang yang lebih baik dari saya</li>
            </ol>
        </div>
    </div>
</div>
{% endblock content %}
