{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/matkul.css' %}"/>
<title>Cornelita | Detail Kuliah</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h1 class="sub-title">Detail Mata Kuliah</h1>
    <h3 class="sub-title">{{ mata_kuliah.nama_matkul }}</h3>
    <div class="row mx-2">
        <div class="col col-12 col-md-4 text-bold">Dosen Pengajar :</div>
        <div class="col col-12 col-md-8">{{ mata_kuliah.dosen_pengajar }}</div>
        
        <div class="col col-12 col-md-4 text-bold">Jumlah SKS :</div>
        <div class="col col-12 col-md-8">{{ mata_kuliah.jumlah_sks }}</div>

        <div class="col col-12 col-md-4 text-bold">Deskripsi :</div>
        <div class="col col-12 col-md-8">{{ mata_kuliah.deskripsi }}</div>
        
        <div class="col col-12 col-md-4 text-bold">Semester Tahun :</div>
        <div class="col col-12 col-md-8">{{ mata_kuliah.semester_tahun }}</div>

        <div class="col col-12 col-md-4 text-bold">Ruang Kelas :</div>
        <div class="col col-12 col-md-8">{{ mata_kuliah.ruang_kelas }}</div>

        <div class="col col-12 center-content">
            <button class="btn myButton">
                <a href="{% url 'story5_app:listmatkul_url' %}" class="myButton"><i class="fas fa-arrow-left"></i> Return</a>
            </button>
            <form method="POST" action="" style="display: inline-block;">
                {% csrf_token %}
                <input name="id" value="{{ mata_kuliah.id }}" type="hidden">
                <button type="submit" class="btn myButton"><i class="far fa-times-circle"></i> Delete</button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}
