{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/matkul.css' %}"/>
<title>Cornelita | Add Mata Kuliah</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h1 class="sub-title">Tambah Mata Kuliah</h1>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        <table class="table">
            {{ form.as_table }}
            <tr>
                <td class="center-content" colspan="2">
                    <input type="submit" value="Submit" class="btn myButton">
                </td>
            </tr>
        </table>
    </form>
</main>
{% endblock content %}
