{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/matkul.css' %}"/>
<title>Cornelita | Kuliah</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h1 class="sub-title">List Mata Kuliah</h1>
    <div class="row justify-content-center mb-44">
        {% for matkul in mata_kuliah %}
            <div class="col-11 col-md-5 col-lg-3 d-flex justify-content-between align-items-center brown-border m-1">
                <a href="{% url 'story5_app:detail_url' matkul.id %}" class="nama_matkul"><h2>{{ matkul.nama_matkul }}</h2></a>
                <form method="POST" action="">
                    {% csrf_token %}
                    <input name="id" value="{{ matkul.id }}" type="hidden">
                    <button type="submit" class="btn delete"><i class="far fa-times-circle"></i></button>
                </form>
            </div>
        {% empty %}
            <h4>Hmm.... belum ada mata kuliah yang terdata.</h4>
        {% endfor %}
    </div>
    <div class="row justify-content-center">
        <a href="/add"><button class="btn myButton">Tambah Mata Kuliah</button></a>
    </div>
    
</main>
{% endblock content %}
