.center {
    text-align: center;
}

.congrats {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#surpriseImage {
    max-width: 100%;
}

.btn.myButton {
    background-color: var(--reddy);
    color: var(--whitty);
    border-radius: 10px;
    min-width: 150px;
    max-width: 200px;
}

.btn.myButton:hover {
    border-color: var(--reddy);
    background-color: #ffffff;
    color: inherit;
}

#surpriseImage {
    display: block;
    margin: 20px auto;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table {
    max-width: 450px;
    text-align: center;
}

table > tbody > tr {
    margin: 15px 0;
}

.messages {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid var(--browny);
}

input {
    width: 100%;
}

label {
    font-weight: bold;
}

.form-group p, .form-group ul {
    font-size: 0.8em;
}

.error-message {
    max-width: 450px;
    border: 1px solid var(--browny);
    padding: 10px 0;
    margin-bottom: 20px;
}

.center-item {
    display: flex;
    justify-content: center;
}

strong {
    color: var(--whitty);
    background-color: var(--browny);
}