{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/activity.css' %}"/>
<title>Cornelita | Activity</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h1 class="sub-title">Daftar Kegiatan Lita</h1>
    <div class="row my-5">
        <div class="card text-center w-100">
            <div class="card-body">
                <h3 class="card-title">Tambah Kegiatan</h3>
                <form method="POST" action="{% url 'story6_app:add_activity_url' %}">
                    {% csrf_token %}
                    {{ formActivity.as_p }}
                    <input type="submit" value="Tambah Kegiatan" class="btn myButton">
                </form>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card-deck">
        {% for activity in activities %}
            <div class="card text-center">
                <h2 class="card-header">{{ activity.activity_name }}</h2>
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                    {% for person in activity.list_person.all %}
                        <li class="list-group-item">{{ person.person_name }}</li>
                    {% empty %}
                        <li class="list-group-item">Belum ada peserta</li>
                    {% endfor %}
                    </ul>
                </div>
                <div class="card-footer">
                    <form method="POST" action="{% url 'story6_app:add_person_url' activity.id %}">
                        {% csrf_token %}
                        {{ formPerson.as_p }}
                        <input type="submit" value="Daftar" class="btn btn-primary">
                    </form>
                </div>
            </div>
        {% empty %}
            <h4>Belum ada kegiatan</h4>
        {% endfor %}
        </div>
    </div>
</main>
{% endblock content %}
