{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/story9.css' %}"/>
<title>Cornelita | Story 9</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h1 class="sub-title">Story 9 | Login</h1>
    
    <form method="POST" action="{% url 'story9_app:login' %}">
        {% csrf_token %}
        <table class="table">
            <tr>
                <td><label for="username">Username</label></td>
                <td><input type="text" name="username" id="username" placeholder="Username..."></td>
            </tr>
            <tr>
                <td><label for="password">Password</label></td>
                <td><input type="password" name="password" id="password" placeholder="Password..."></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn myButton" type="submit" value="Login" name="Login">
                </td>
            </tr>
            <tr>
                {% for message in messages %}
                    <td colspan="2"><p class="messages">{{ message }}</p></td>
                {% endfor %}
            </tr>
            <tfoot>
                <tr>
                    <td colspan="2">Didn't have an account? <a href="{% url 'story9_app:register' %}">Register Now</a></td>
                </tr>
            </tfoot>
        </table>
    </form>
        
</main>
{% endblock content %}
