{% extends 'app-shell.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/story9.css' %}"/>
<title>Cornelita | Story 9</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h1 class="sub-title">Story 9 | Register</h1>
    <p class="center">Already have an account? <a href="{% url 'story9_app:login' %}">Login</a></p>
    <div class="center-item">
        {% if form.errors %}
            <div class="error-message">
                {{ form.errors }}
            </div>
        {% endif %}
    </div>
    <form method="POST" action="">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form|crispy }}
        </fieldset>
        <input class="btn myButton" type="submit" value="Sign Up" name="Register User">
    </form>
</main>
{% endblock content %}
