{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/story9.css' %}"/>
<title>Cornelita | Story 9</title>
{% endblock meta %}

{% block content %}
<main class="container">
    {% if user.is_authenticated %}
    <h1 class="congrats">Hello {{ user.get_username }}!</h1>
    {% endif %}
    <h1 class="congrats">🎊 It's Last Story 🎊</h1>
    <div class="center">
        {% if user.is_authenticated %}
            <img id="surpriseImage" src="{% static 'images/kucing.jpg' %}">
            <a class="btn myButton" href="{% url 'story9_app:logout' %}">Logout</a>
        {% else %}
            <h4>Want to see something exciting?</h4>
            <a class="btn myButton" href="{% url 'story9_app:login' %}">Login</a>
        {% endif %}
    </div>
</main>
{% endblock content %}
