:root {
    --browny: #5C2626;
    --whitty: #FFFBFA;
    --salmony: #EA7362;
    --reddy: #B74242;
}

.ui-accordion-header {
    background-color: var(--browny);
    color: var(--whitty);
    padding: 5px 10px;
    cursor: pointer;
    margin: 0;
    font-size: 1.125em !important;
}

.ui-accordion-content {
    border: 1px solid var(--browny);
    color: inherit;
}

i {
    font-size: 1.25em;
    border: .5px solid var(--whitty);
    float: right;
    padding: 0 5px;
    margin-left: 5px;
}