:root {
    --browny: #5C2626;
    --whitty: #FFFBFA;
    --salmony: #EA7362;
    --reddy: #B74242;
}

.mb-44 {
    margin-bottom: 44px;
}

.col {
    margin-bottom: 20px;
}
.text-bold {
    font-weight: bold;
}

table {
    width: 100%;
}

input, select {
    width: 100%;
}

input[type=submit] {
    width: 30%;
    min-height: 44px;
}

.center-content {
    text-align: center;
}

.helptext {
    display: none;
}

a {
    color: inherit;
}

.myButton {
    border-width: 2px;
    border-color: var(--browny);
    background-color: var(--whitty);
    color: inherit;
    font-weight: bold;
    min-height: 44px;
    padding: 10px;
}

.myButton:hover {
    background-color: var(--browny);
    color: var(--whitty);
    text-decoration: none;
}

.delete {
    border-radius: 50%;
    cursor: pointer;
    font-size: 2em;
    background-color: inherit;
    color: inherit;
}

.brown-border {
    border: 1px solid var(--browny);
    border-radius: 20px;
}

.nama_matkul {
    margin: 0;
}

.nama_matkul:hover {
    color: inherit;
}