#search-box {
    text-align: center;
}

#queryBook {
    width: 60%;
    height: 44px;
}

.book-cover {
    height: 200px;
    width: 150px;
    object-fit: cover;
}

.table thead th {
    background-color: var(--browny);
    color: var(--whitty);
}