{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<title>Cornelita | Beranda</title>
{% endblock meta %}

{% block content %}
<div class="hero container">
    <div class="row align-items-center">
        <div class="hero-image col-12 col-md-6 d-flex justify-content-center">
            <img id="profile-photo" src="{% static 'images/profile.jpg' %}" alt="Foto Cornelita">
        </div>
        <div class="hero-name col-12 col-md-5 px-3">
            <h1>Cornelita Lugita Santoso</h1>
            <h2>Mahasiswi Fakultas Ilmu Komputer Universitas Indonesia</h2>
            <h2>1906292995 - Maung (2019)</h2>
        </div>
    </div>
</div>

<div id="brown-line"></div>

<div id="description" class="container">
    <h1 class="sub-title">Tentang Saya</h1>
    <div class="desc-item">
        <p>Seorang mahasiswi Fakultas Ilmu Komputer Universitas Indonesia. 
            Berasal dari Surabaya. Seseorang yang suka membaca buku dan melakukan hal-hal yang menarik. 
            Memiliki ketertarikan pada bidang web development, desain grafis, user interface, dan user experience. </p>
        <p>Saya orang yang bertanggung jawab dan dapat diandalkan. 
            Saya tidak suka menunda-nunda pekerjaan dan selalu berusaha mengerjakan semua hal sebaik mungkin.</p>
    </div>
</div>
{% endblock content %}
