{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="{% static 'css/story7.css' %}"/>
<title>Cornelita | Story 7</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h1 class="sub-title">Story 7</h1>
    <div id="accordion">
        <h3>Aktivitas Sekarang <i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></h3>
        <div>
            <ul>
                <li>Staff of Media Bureau | BEM Fasilkom UI</li>
                <li>PIC of Public Relation | Makara Mlaku-Mlaku</li>
                <li>Sleep</li>
                <li>Code</li>
                <li>Sleep</li>
            </ul>
        </div>
        <h3>Pengalaman Organisasi <i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></h3>
        <div>
            <div>
                <h4>BEM Fasilkom UI</h4>
                <ul>
                    <li>Staff of Media Bureau | February 2020 - Present</li>
                </ul>
            </div>
        </div>
        <h3>Pengalaman Kepanitiaan <i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></h3>
        <div>
            <div>
                <h4>Makara Mlaku-Mlaku</h4>
                <ul>
                    <li>PIC of Public Relation | June 2020 - Present</li>
                    <li>Staff of Public Relation | October 2019 - January 2020</li>
                </ul>
            </div>
            <div>
                <h4>Compfest XII</h4>
                <ul>
                    <li>Staff of Visual Design | February 2020 - October 2020</li>
                </ul>
            </div>
            <div>
                <h4>Perak</h4>
                <ul>
                    <li>VPIC of Field Coordinator | November 2019 - October 2020</li>
                </ul>
            </div>
        </div>
        <h3>Prestasi <i class="fas fa-arrow-up"></i><i class="fas fa-arrow-down"></i></h3>
        <div>
            <h4>Tidur sore bangun siang</h4>
        </div>
    </div>
</main>
{% endblock content %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
<script src="{% static 'script/story7.js' %}"></script>
{% endblock script %}