{% extends 'app-shell.html' %}

{% load static %}

{% block meta %}
<link rel="stylesheet" href="{% static 'css/story8.css' %}"/>
<title>Cornelita | Story 8</title>
{% endblock meta %}

{% block content %}
<main class="container">
    <h1 class="sub-title">Search Book</h1>
    <div id="search-box">
        <input type="search" name="queryBook" id="queryBook" placeholder="Search book...">
    </div>
    <div class="table-responsive mt-5">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Cover</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Publisher</th>
                    <th>Category</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    
</main>
{% endblock content %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'script/story8.js' %}"></script>
{% endblock script %}