@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;900&family=Open+Sans&display=swap');

:root {
    --browny: #5C2626;
    --whitty: #FFFBFA;
    --salmony: #EA7362;
    --reddy: #B74242;
}

body {
    color: var(--browny);
    background-color: var(--whitty);
}

main {
    min-height: 80vh;
}

.container {
    margin-top: 44px;
    margin-bottom: 44px;
    font-family: 'Open Sans', sans-serif;
}

#brown-line {
    margin: 10px 100px;
    height: 5px;
    background-color: var(--browny);
    border-radius: 10px;
}

#brown-line.full {
    margin: 10px 0;
}

.sub-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-bottom: 32px;
}

h2, h3 {
    font-weight: bold;
}

@media screen and (max-width: 576px) {
    html {
        font-size: 14px;
    }

    #brown-line {
        margin: 10px 20px;
    }
}

/* Header */

header {
    width: 100%;
    min-height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 2.4em;
    text-align: center;
    margin-bottom: 0;
}

#hamburger {
    background-color: var(--whitty);
    color: var(--browny);
    border-color: var(--browny);
    display: none;
}

/* Nav */

.nav-item {
    margin: 0 60px;
}

.nav-item a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    padding: 10px;
    color: var(--browny);
    width: inherit;
    text-align: center;
}

.nav-item a:hover {
    color: var(--whitty);
    background-color: var(--browny);
    border-radius: 10px;
    text-decoration: none;
}

/* Hamburger Button */
@media screen and (max-width: 960px) {
    #hamburger {
        display: block;
    }

    #drawer {
        display: none;
    }
    
    #drawer.open {
        display: block;
    }
    
    #drawer li {
        margin-left: 0;
    }

    .nav-item {
        width: 100%;
    }
}

/* Hero */

.hero {
    font-family: 'Montserrat', sans-serif;
}

#profile-photo {
    width: 50%;
    border-radius: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hero-name h1 {
    font-weight: bold;
    margin-bottom: 20px;
}

.hero-name h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    .hero-name h1, .hero-name h2 {
        text-align: center;
    }
}

/* Description */

.desc-item {
    font-family: 'Open Sans', sans-serif;
    color: var(--whitty);
    background-color: var(--browny);
    padding: 32px;
    border-radius: 20px;
    text-align: justify;
}

/* Footer */

footer {
    margin: 12px 0;
}

footer .row {
    margin-left: 0;
    margin-right: 0;
}

.small-logo {
    height: 48px;
}

/* Page Riwayat Hidup */

.logo-education {
    width: 200px;
    object-fit: contain;
}

.logo-skill {
    width: 64px;
    object-fit: contain;
}

.website-bar .progress-bar {
    background-color: var(--salmony);
}

.programming-bar .progress-bar {
    background-color: var(--reddy);
}

#personality h2 {
    text-align: center;
}

#personality .detail {
    border: 1px solid var(--browny);
}

/* Page Portofolio */

.portofolio {
    text-align: center;
}

.item {
    height: 290px;
    align-content: center;
}

.description {
    text-align: center;
}

.description h2 {
    text-align: center;
}

.description p {
    text-align: justify;
}

.description a {
    margin: 0 10px;
}