label, .helptext {
    display: none;
}

.card-header, .card-title, h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

h4 {
    text-align: center;
}

.btn {
    background-color: var(--reddy);
    color: var(--whitty);
    border-radius: 30px;
}

.btn:hover {
    border-color: var(--reddy);
    background-color: #ffffff;
    color: inherit;
}

.card-deck {
    margin-left: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5rem;
    justify-content: space-evenly;
}

@media screen and (min-width: 768px) {
    .card-deck {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 960px) {
    .card-deck {
        grid-template-columns: repeat(3, 1fr);
    }
}